html
    head
        title Animals
        link(rel="stylesheet", href="/style.css")
    body
        h1 Animals
        p Think about an animal, program will try to guess it...

        p= question
        p
            a(href=go_yes) Yes
            span &nbsp;
            a(href=go_no) No
